/* Estilo para el modal en pantallas grandes (PC) */
.modal-dialog {
    max-width: 600px; /* Ancho máximo del modal en pantalla grande */
    margin: 30px auto; /* Centramos el modal vertical y horizontalmente */
}

/* Estilo para el contenido del modal */
.modal-content {
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
}

/* Estilo para el modal en pantallas móviles */
@media (max-width: 768px) {
    .modal-dialog {
        width: 100%; /* Ancho del modal al 100% en pantallas móviles */
        margin: 0; /* Eliminar márgenes para que ocupe toda la pantalla */
        height: 100vh; /* El modal ocupará toda la altura de la pantalla */
    }

    .modal-content {
        height: 100%; /* Aseguramos que el contenido del modal ocupe toda la altura */
        border-radius: 0; /* Sin bordes redondeados en pantallas móviles */
        overflow-y: auto; /* Permitir desplazamiento si el contenido es largo */
    }
}


.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.popup-cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
